{% extends "layout.html" %}

{% block content %}




      
      <!-- ========== section start ========== -->
      <section class="section">
        <div class="container-fluid">
          <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title mb-30">
                  <h2>Assessment (Ungraded submissions)</h2>
                </div>
              

              </div>
              <!-- end col -->
            
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- ========== title-wrapper end ========== -->
         
       
        

         
          
          
          <div class="col-xl-12 col-lg-12 col-sm-12"> 

            <p align='center'><a href="{{ url_for('assessment_blueprint.assessment_all') }}" class="btn btn-primary">Graded Submissions</a></p>
            <br/>
              <div class="icon-card">

                
                <div class="table-wrapper table-responsive" style="width: 100%">
                  <table class="table table-hover table-striped table-bordered" >
                    <tr>
                        <th>Submitted by</th>   
                        <th>Topic</th>    
                        <th>Class</th>     
                        <th>Subject</th>    
                        <th>Term</th>  
                        <th>Week</th>                
                        <th>Date/Time submitted</th> 
                        <th> </th>                      
                    </tr>
                    
                    {%for assessment_record in assessment_record %} 
                               <tr>
                                    <td>{{ assessment_record[1] }} ({{ assessment_record[2] }}) </td>
                                    <td> {{ assessment_record[8] }} </td>
                                    <td> {{ assessment_record[3] }} </td>
                                    <td> {{ assessment_record[4] }} </td>
                                    <td> {{ assessment_record[5] }} </td>
                                    <td> {{ assessment_record[6] }} </td>
                                    <td> {{ assessment_record[7] }} </td>  
                                     
                                    <td>
                                      {% if session.level=="teacher" or  session.level=="admin" %} 
                                      <form action="{{ url_for('assessment_blueprint.assessment_input') }}" method="post">
                                          <input type="hidden" name="submission_id" value="{{  assessment_record[0] }}">
                                          <input type="hidden" name="view_from" value="not_graded">
                                          <input type="submit" value="Proceed to grading" class="main-btn success-btn btn-hover">
                                      </form>
                                      {% endif  %}   
                                    </td>
                                </tr> 
                                
                    {%endfor%}   
                </table>
              </div>


              
                
              </div> 

            </div>
         

         
        </div>
          <!-- End Row -->
  
          
        </div>
        <!-- end container -->
      </section>

{% endblock %}

