{% extends "layout.html" %}

{% block content %}






      <!-- ========== section start ========== -->
      <section class="section">
        <div class="container-fluid">
          <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="titlemb-30">
                 
                </div>
               
              </div>
              <!-- end col -->
              <div class="col-md-6">
                <div class="breadcrumb-wrapper mb-30">
                  <nav aria-label="breadcrumb">
                    
                  </nav>
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- ========== title-wrapper end ========== -->

          <div class="row">
            <div class="col-lg-12">
              <div class="card-style settings-card-1 mb-30">
                
                <div class="profile-info">

                   <h2 align='center'>Unlock your learning journey today!</h2>
                
                  <img src="{{ url_for('static', filename='images/bg.jpg') }}" width='100%' />
		                    
	                  
	                  
	                           
                </div>
              </div>
              <!-- end card -->
            </div>
            <!-- end col -->

            
          </div>
          <!-- end row -->
        </div>
        <!-- end container -->
      </section>






{% endblock %}
