{% extends "layout.html" %}

{% block content %}




      
      <!-- ========== section start ========== -->
      <section class="section">
        <div class="container-fluid">
          <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title mb-30">
                  <h2>Subjects</h2>
                </div>
           

{% if msg %}
  <font color='blue'>{{ msg }}</font>
{% elif request.args.get('done')  %}  
  <font color='blue'> Record edited</font>
{% endif %}


              </div>
              <!-- end col -->
             
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- ========== title-wrapper end ========== -->
         
       
          {% if session.level=="admin" %} 

         
          
          <p align='center'><a href="{{ url_for('subject_blueprint.subject_input') }} " class='btn btn-success'>Add Subject</a></p>
          <br/>
          <div class="col-xl-12 col-lg-12 col-sm-12">
            
              <div class="icon-card mb-100">
              
               


                <div class="table-wrapper table-responsive" style="width: 100%">
                  <table class="table table-hover table-striped table-bordered" >
                        <tr>
                            <th>Subject</th>
                            <th>Term</th>
                            <th>Class</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        
                        {%for subject in data_subject%} 
                            <tr>
                            <td>{{ subject[1] }}</td>

                            {%for term in data_term%}
                                  {% set term_id = term[0] | int %}
                                  {% set subject_term_id = subject[3] | int %}

                                  {% if term_id == subject_term_id %}
                                    <!-- Get term name-->  
                                    <td>{{ term[1] }}</td>
                                  {% endif %}     
                            {%endfor%}


                            {%for class in data_class%}
                                  {% set class_id = class[0] | int %}
                                  {% set subject_class_id = subject[2] | int %}
                                 
                                  {% if class_id == subject_class_id %}
                                    <!-- Get class name-->
                                    <td>{{ class[1] }}</td>   
                                  {% endif %}                                  
                            {%endfor%} 

                            
                            <td><a href="subject_input?task=edit&value={{subject[0]}}" class='btn btn-primary'>Edit</a></td>
                            <td><a href="delete_subject?value={{subject[0]}}" class='btn btn-danger' onclick="return confirm('Are you sure you want to delete?')">Delete</a></td>
                             </tr>   
                        {%endfor%}   
                    </table>
                    </div>
                
              </div> 

            </div>
          {% endif %}

         
        </div>
          <!-- End Row -->
  
          
        </div>
        <!-- end container -->
      </section>

{% endblock %}

