{% extends "layout.html" %}

{% block content %}




      <!-- ========== section start ========== -->
      <section class="section">
        <div class="container-fluid">
          <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="titlemb-30">
                  <h2> 
                  {% if request.args.get('task') == 'edit' %} 
                    Edit Subject
                  {% else %}
                    Add Subject
                  {% endif %}
                  </h2>


                </div>				
              </div>
              <!-- end col -->
              <div class="col-md-6">
                <div class="breadcrumb-wrapper mb-30">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="{{ url_for('auth') }}">Home</a>
                      </li>
                      <li class="breadcrumb-item">
                        <a href="{{ url_for('subject_blueprint.subject') }}">Subjects</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">
                        Add Subject
                      </li>
                    </ol>
                  </nav>
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- ========== title-wrapper end ========== -->

		<form action="{{ url_for('subject_blueprint.subject_input') }}" method="post">
          <div class="row">
            <div class="col-lg-12">
              <div class="card-style settings-card-1 mb-30">
                <div
                  class="
                    title
                    mb-30
                    d-flex
                    justify-content-between
                    align-items-center
                  "
                >
				{{ msg }}

       
                </div>


              

                          
                    <div class="input-style-1">
                      <label>Subject name *</label>

                      

                      {% if preview is defined %}
                          <input type="text" name="subject" value="{{ preview[1] }}" />
                      {% else %}
                          <input type="text" name="subject"  required />
                      {% endif %}

                    </div>

                   
                   

                   
                    <div class="select-style-1">
                      <label>Term </label>
                      <div class="select-position">
                      <select name="term">
                        {% for terms_rec in terms_rec %}

                            {% if preview is defined %} <!-- Editing record -->

                              {% set term_id = terms_rec[0] | int %}
                              {% set selected_term_id = preview[3] | int %}

                              {% if term_id == selected_term_id %}
                                <option value="{{ terms_rec[0] }}" selected >{{ terms_rec[1] }}</option>
                              {% else %}
                                <option value="{{ terms_rec[0] }}">{{ terms_rec[1] }}</option> 
                              {% endif %}



                            {% else %} <!-- Adding record -->
                              <option value="{{ terms_rec[0] }}">{{ terms_rec[1] }}</option> 
                            {% endif %} 
                        {% endfor %}                     
                      </select> 
                      </div>                      
                    </div>


                    <div class="select-style-1">
                      <label>Class </label>
                      <div class="select-position">
                      <select name="class">
                        {% for class_list in class_rec %}

                              {% if preview is defined %} <!-- Editing record -->

                              {% set class_id = class_list[0] | int %}
                              {% set selected_class_id = preview[2] | int %}

                              {% if class_id == selected_class_id %}
                                  <option value="{{ class_list[0] }}" selected >{{ class_list[1] }}</option> 
                              {% else %}
                                  <option value="{{ class_list[0] }}">{{ class_list[1] }}</option> 
                              {% endif %}



                            {% else %} <!-- Adding record -->
                                <option value="{{ class_list[0] }}">{{ class_list[1] }}</option> 
                            {% endif %} 



                         
                        {% endfor %}                     
                      </select> 
                      </div>                      
                    </div>
                  

                    {% if preview is defined %}
                      <input type = "hidden" name = "edit_id" value="{{ preview[0] }}" />
                    {% endif %}

                  <div class="col-12">                      
					  <input type="submit" value="Save" class="main-btn primary-btn btn-hover">
                  </div>

                   
                </div>
              </div>
              <!-- end card -->
            </div>
            <!-- end col -->

            
          </div>
          <!-- end row -->
		</form>
        </div>
        <!-- end container -->
      </section>
      <!-- ========== section end ========== -->

{% endblock %}
